<p-dataview #dv [value]="products">
  <ng-template let-items pTemplate="list">
    <div class="grid grid-cols-12 gap-4 grid-nogutter">
      <div class="col-span-12" *ngFor="let item of items; let first = first">
        <div
          class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
          [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
        >
          <!-- Image -->
          <div class="md:w-40 relative">
            <img
              class="block mx-auto rounded-border w-full"
              [src]="item.images[0]"
              [alt]="item.name"
            />
          </div>

          <!-- Infos produit -->
          <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
              <div>
                <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.name }}</div>
                <div class="text-sm text-surface-700 mt-1">{{ item.description_short }}</div>
              </div>
              <div class="text-xs text-surface-500 mt-2">Stock : {{ item.stock }}</div>
            </div>

            <!-- Prix -->
            <div class="flex flex-col md:items-end gap-8">
              <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">
                {{ item.price | currency:item.currency }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataview>